{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recipe App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        text-align: center;
      }

      .centered-image {
        display: flex;
        justify-content: center;
      }

      .centered-image img {
        width: 900px;
        height: 600px;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">Gourmet Genie</h1>
    <br />
    <div class="centered-image">
      <img src="{% static 'recipes/images/welcome.jpg' %}" alt="home" />
    </div>
  </body>
</html>
