{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bookstore Home</title>
    <a href="{%url 'login' %}"> Login </a>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        text-align: center;
      }

      .centered-image {
        display: flex;
        justify-content: center;
        background-color: #d9a384;
      }

      .centered-image img {
        width: 500px;
        height: 600px;
      }

      h1 {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">Welcome to the Bookstore App</h1>
    <br />
    <div class="centered-image">
      <img src="{% static 'sales/images/bookstore.jpg' %}" alt="home" />
    </div>
  </body>
</html>
